[2016-01-07 11:11] olien opened #1 "Manchmal funktioniert das JS nicht bzw. nicht richtig"

[2016-01-07 11:12] olien opened #2 "evtl. Update der JS Dateien"

[2016-01-07 11:12] olien opened #3 "Medina Manager Effekt einbinden (boot.php) und testen"

[2016-01-07 11:12] olien opened #4 "Was muss die Datei unistall.php enthalten?"

[2016-01-07 11:12] olien opened #5 "Was muss die Datei update.php enthalten?"

[2016-01-07 11:13] olien opened #6 "Fehler beim speichern / aktualsieren einer Datei!"

[2016-02-29 11:40] olien commented on #6
erledigt

[2016-02-29 11:40] #6 closed, assigned to nobody

[2016-02-29 11:40] #5 closed, assigned to nobody

[2016-02-29 11:40] #4 closed, assigned to nobody

[2016-02-29 11:40] #3 closed, assigned to nobody

[2016-02-29 11:40] #2 closed, assigned to nobody

[2016-02-29 11:40] #1 closed, assigned to nobody

[2016-02-29 11:41] olien opened #7 "MediaManager Effekt für Rex5 anpassen"
@dergel könntest du da mal nachgucken? Ist nicht eiligt!

[2016-03-02 10:04] olien commented on #7
Erledigt

[2016-03-02 10:04] #7 closed, assigned to nobody

[2016-03-02 10:07] olien opened #8 "effect klasse noch anpassen"
sobald mal einen focuspoint gesetzt hat - und dieser im image_manager mit der focuspoint klasse verwendet wird - ändert sich das bildformat, weil, abhaengig vom focuspoint, das größtmögliche format genommen wird.

das könnte man noch optional einsetzen. Bildformat beibehalten als checkbox wäre gut.

Eventuell könnte man auch einen Zoom noch mit einplanen.. Sowas wie .. Bildzoom zum focuspoint - in

[2016-03-04 12:54] georgkaser opened #9 "Class 'Parsedown' not found"
"ErrorException" thrown in ..../redaxo/src/addons/focuspoint/pages/info.php on line 4
Fatal error: Class 'Parsedown' not found

Anmerkung: Mit installiertem epiceditor funktionierts. Sollte vielleicht drauf hingewiesen werden - nicht jeder hat epiceditor installiert.

[2016-03-04 13:11] olien commented on #9
Der epiceditor wir die Parsedown Class liefern. ich korrigiere das ... danke für den Hinweis

[2016-08-15 07:36] skerbis opened #10 "Visuelles Feedback im Medienpool"
Wenn ich ich den Focuspoint im Medienpool über das Bild anklicke, wünsche ich mir ein kurzes Feedback evt. in Form eines Auswahlkreuzes oder Ähnliches.

[2016-08-15 08:40] #10 closed, assigned to nobody

[2016-08-31 17:49] skerbis opened #11 "css ohne Komma ausgeben"
das erspart einen replace

[2016-10-11 10:29] olien opened #12 "Umzug zu FOR (ohne rex_)"

[2016-10-11 11:06] phoebusryan commented on #9
Das hat sich wohl erübrigt, da Redaxo mittlerweile Parsedown mitliefert.

[2016-10-11 11:42] olien commented on #11
erledigt in nächster version

[2016-10-11 11:42] #11 closed, assigned to nobody

[2016-10-11 11:42] olien commented on #9
jo

[2016-10-11 11:42] #9 closed, assigned to nobody

[2016-10-11 11:43] #12 closed, assigned to nobody

[2017-03-04 18:36] tyrant88 opened #14 "css ids der input fields im Medienpool Formular heißen nicht so wie im Code der Klasse"
Die Felder im Medienpool sehen so aus:
<input class="form-control" id="rex-metainfo-med_focuspoint_data" name="med_focuspoint_data" value="0.04,-0.41" type="text">

in der Klasse `class.rex_focuspoint.inc.php` steht
[code]

[2017-03-07 07:33] olien commented on #14
Ist in Version 1.3.3 korrigiert.
Danke!

[2017-03-07 07:33] #14 closed, assigned to olien

[2017-03-19 14:25] hirbod opened #15 "somethingIsWrong"
https://github.com/FriendsOfREDAXO/focuspoint/blob/master/install.php#L3-L6

Wird wohl niemals auftreten.

[2017-03-19 14:26] hirbod commented on #15
Auch hier nie
https://github.com/FriendsOfREDAXO/focuspoint/blob/master/uninstall.php#L3-L11

[2017-03-20 07:30] #15 closed, assigned to nobody

[2017-03-21 07:41] olien opened #17 "Änderungen prüfen und neues Version erstellen."

[2017-06-14 21:11] christophboecker commented on #8
Hi Oliver,
ich bin mir nicht sicher, ob ich Deine Idee mit dem Zoom richtig verstande habe. Aber hiermal mein Ansatz, den ich grade realisiere:

Ausgangspunkt: der Resize-Effekt (auch der in focuspoint) macht halt nicht was ich gerne hätte. Wenn ich z.B. ein 1200x800-Bild nach 400x200 verkleinern will, ist je nach Parameter das Ergebnis größer, mit schwarzen Rändern oder gestaucht. Meine Ziel ist,

[2017-06-16 11:17] olien commented on #8
Hallo Chris,

so viele Gedanken habe ich dazu noch gar nicht gemacht (war ja die Idee von @dergel :-)),

Was Du schreibst hört sich gut an. Vielleicht ist der PR besser hier https://github.com/redaxo/redaxo aufgehoben wenn der Effekt nicht vom Focuspoint abhängig ist. Wenn nicht. Dann sehr gerne hier!

LG
Oliver

[2017-06-20 07:04] tbaddade opened #20 "jpeg Bilder werden nicht unterstützt"
Liegt an dieser Zeile.
https://github.com/FriendsOfREDAXO/focuspoint/blob/master/lib/class.rex_focuspoint.inc.php#L108

[2017-06-20 08:47] skerbis commented on #20
Diese Zeile müsste dann wohl aber auch angepasst werden:
https://github.com/FriendsOfREDAXO/focuspoint/blob/master/lib/class.rex_focuspoint.inc.php#L106

[2017-06-20 09:41] tbaddade commented on #20
Man kann auch über `rex_media` und die Methode `isImage()` gehen.

[2017-06-20 17:00] olien commented on #20
Ist erledigt

[2017-06-20 17:00] olien commented on #8
Ist erledigt. DANKE!

[2017-06-20 17:00] #8 closed, assigned to nobody

[2017-06-20 17:00] olien commented on #17
Ist erledigt

[2017-06-20 17:01] olien commented on #17
Ist erledigt

[2017-06-20 17:01] #17 closed, assigned to olien

[2017-06-22 16:51] olien commented on #20
https://github.com/redaxo/redaxo/blob/master/redaxo/src/addons/mediapool/package.yml#L22

Alternative ungetestet:

$media = rex_media::get($vars[0]['filename']);
if ($media->isImage()) {
    ...
}

( Danke an @tbaddade )

[2017-06-30 08:21] tbaddade opened #21 "Focuspointwerte via Button löschen"
Button unterhalb des Bildes anbringen?

[2017-06-30 08:32] olien commented on #21
Wird gemacht

[2017-07-24 08:45] olien commented on #21
hallo info, wärst du so lieb und aktualisierst auch das changelog?
dann kann das hier geschlossen werden - oder?

lg
oliver

[2017-08-08 05:57] olien commented on #21
Ich schliesse mal hier. Danke!

[2017-08-08 05:57] #21 closed, assigned to olien

[2017-08-08 05:58] olien commented on #20
Ist wohl auch erledigt :-)

[2017-08-08 05:58] #20 closed, assigned to olien

[2017-08-09 07:43] olien opened #25 "Überflüssige Felder beim hinzufügen eines Mediums"
Focuspoint Data
Focuspoint CSS

[2017-08-10 08:33] olien commented on #25
Die Felder sind im Medienpool bei "Medium hinzufügen" und "Dateien synchronisieren" auf

[2017-10-12 15:24] tbaddade opened #27 "Menülink unter AddOns nicht anzeigen. Hilfe via ? auf der AddOnseite"
Die Inhalte der Tabs "Info" und "Hilfe" könnten in die Readme gehen. Changelog und Lizenz könnten in der Readme verlinkt werden. Gutes Beispiel wäre hier [Quicknavigation](https://github.com/FriendsOfREDAXO/quick_navigation)

[2017-11-17 12:58] olien commented on #27
erledigt

[2017-11-17 12:58] #27 closed, assigned to olien

[2017-11-23 15:13] ansichtsache opened #28 "rex_sql_exception bei abweichendem tabellen-prefix (rex53_ statt rex_)"
beim anklicken eines bildes im medienpool folgender fehler bei abweichendem tabellen-prefix (rex53_ statt rex_):

[code]

[2017-11-23 16:20] schuer commented on #28
Bei den Selects fehlt überall `rex::getTable()`.

Statt…

[code]

…müsste es so sein:

[code]

[2017-11-23 16:21] schuer commented on #28
Pull request welcome! :)

[2017-11-24 07:22] olien commented on #28
Erledigt mit Version 1.3.10.
Danke!

[2017-11-24 07:22] #28 closed, assigned to nobody

[2017-11-24 07:27] olien opened #29 "Effekte im MediaManager umbenennen"
Hab leider die Stelle nicht gefunden wo die Übersetzungen angegeben werden können...
(Ein Eintrag in die lang-Dateien hat nichts geändert...)

Grüße
Oliver

![unbenannt-1](https://user-images.githubusercontent.com/330516/33199591-37648452-d0f1-11e7-9b77-23881a401eab.png)

[2017-11-24 07:42] eaCe commented on #29
In die jeweilige Effekt Klasse folgende Funktion hinzufügen:

[code]

[2017-11-24 08:09] olien commented on #29
Danke. Ist erledigt!

[2017-11-24 08:09] #29 closed, assigned to nobody

[2017-12-05 23:22] ullmann-me opened #30 "Vorschau für Medienpool"
Sehr praktisch wäre es, wenn man im Medienpool beim setzen des Focuspoints direkt eine Vorschau für einen bestimmten Bildausschnitt bekommt.

Ich stell mir das etwa so vor:
1. Auswahl eines Medientyps des Media Managers
2. Einblenden der Vorschau auf Grunde der Daten des Medientyps.

[2017-12-07 06:30] olien commented on #30
Hallo,

das ist eine coole Idee aber wie willst Du das realisieren (nicht der technische Teil)?
Ich kann doch mit den Daten beliebig viele MediaManager Typen bestimmen. Je nach Anwendung "passt" das Bild ja auch im Hoch- und Querformat!

Welches Bild hiervon würdest Du anzeigen?

http://jonom.github.io/jquery-focuspoint/demos/grid/dolphin.html

Und welchen Nutzen hätte das?

Freue mich über weiter

[2017-12-07 08:39] ullmann-me commented on #30
Ich würde das als Auswahlfeld gestalten, wo man auswählt welcher Medientyp geprüft werden soll.

Auch wäre ein Multifocuspoint cool für verschiedene Medientypen.

Ich bin selbst gleichzeitig Fotograf und hab da immer eine genaue Vorstellung was angezeigt werden soll. Immer wieder ins Frontend oder so zuschauen ob es passt nervt.

[2017-12-07 08:47] olien commented on #30
Ich bin überfordert. :-)
Wie soll z.B.: ein MedienTyp für ein großes Bild (SliderContent) gut darstellbar sein?

Wäre so etwas nicht besser für Dich?

https://fengyuanchen.github.io/cropper/

Evtl. als AddOn mit einer eigenen Seite. Losgelöst vom Medienpool?
Da der Medienpool gerade neu gebaut wird würde ich mal abwarten was kommt ...

[2017-12-07 08:50] eaCe commented on #30
Das könnte man über ein Dropdown machen, der die Typen abfragt. Dann wäre nur die Frage wo man das ganze anzeigen sollte (vielleicht ein Modal?). Funktioniert aber auch nur dann gut, wenn im Typ eine größe angegeben ist, ansonsten halt default Bootstrap-Responsive-Img...

[2017-12-07 08:54] ullmann-me commented on #30
Genau ich würde ein DropDown machen und unter dem Bild wo man den Focuspoint setzt kann man ein Vorschaubild machen. Es muss ja nur den passenden Ausschnitt zeigen nicht die reale Größe

[2017-12-07 09:11] olien commented on #30
Vielleicht warten wir auf den neuen Medienpool...

[2017-12-07 09:14] eaCe commented on #30
Wer weiß wann der kommt ;) vielleicht habe ich später mal Muse und werfe einen Vorschlag/PR in den Raum

[2017-12-07 09:16] olien commented on #30
Sehr gerne! (darfst du auch direkt mergen :-))

[2017-12-07 09:16] ullmann-me commented on #30
Keinen Stress ist ein NiceToHave

[2017-12-07 22:35] IngoWinter commented on #30
Gehts hier um den Media Manager Effekt, den ich noch nie benutzt habe und von dem ich auch nicht weiss, was er macht?

[2017-12-08 08:12] olien commented on #30
Ja. Wenn Du die Focuspoint Daten für die Ausgabe per CSS nutzt bleibt das ganze Bild erhalten und du brauchst den MM Effekt nicht.

Die Mediamanger Effekte (fit/resize) berücksichtigen bei der Erstellung der Datei den gesetzten Focuspoint.

LG
Oliver

[2017-12-08 08:30] tbaddade commented on #30
@IngoWinter Wenn du ein Hochformat hast und willst daraus ein Querformat croppen, dann definierst du via Focuspoint den Punkt, der auf jeden Fall im Querformat zu sehen sein soll. Der Punkt ist somit Bild abhängig und nicht wie im Crop Effekt (horizontale/vertikale Ausrichtung) global für alle Bilder.

Außerdem eignet sich das AddOn auch gut für responsive Bilder. Wenn du unterschiedliche Formate

[2017-12-14 09:16] eaCe commented on #30
Moin,

hat etwas gedauert, aber hier mal ein Ansatz.
Bevor ich den Kram allerdings als PR einreiche wollte ich das ganze noch ein mal zur Diskussion stellen. Ich habe hier mal ein .gif als Vorschau. Ich hoffe man erkennt die Funktionsweise...

![mediapreview](https://user-images.githubusercontent.com/2708231/33984424-dc959148-e0b7-11e7-8f9b-75c975858757.gif)

[2017-12-14 09:22] tbaddade commented on #30
Sehr schöne Sache @eaCe

Mir würde gefallen, wenn das `select` unterhalb des Originalbildes auf die rechte Seite geht und direkt nach einer Auswahl darunter das Bild erscheint. Ohne Modal sozusagen.

[2017-12-14 09:34] olien commented on #30
Hey @eaCe,

ich finde es superklasse. Select rechts fände ich auch sinniger. Das Modal würde ich auch nicht brauchen...

Gruß
Oliver (freu mich grad!)

P.S:

PR Kannst Du direkt mergen wenn Du magst.
(Versionsänderung, Changelog und evtl. Redame nicht vergessen :-))

[2017-12-14 09:56] eaCe commented on #30
@tbaddade  @olien

So dann vielleicht?

![mediapreview2](https://user-images.githubusercontent.com/2708231/33986290-70b337ae-e0bd-11e7-93be-a1e5e17e7cf3.gif)

[2017-12-14 10:01] eaCe commented on #25
Ich habe mal geschaut ob man das via EP lösen könnte. Über PAGE_MEDIAPOOL_HEADER bekommt man allerdings nur die „Startseite“ des Medienpools. Ich bin nicht sicher ob das so richtig ist…

Man könnte dies recht dreckig lösen in dem man über die URL geht und nach den input id's sucht und diese dann via JS versteckt.. :/

[2017-12-14 10:06] ullmann-me commented on #30
So sieht das nach was geilem aus aber so das sich das Bild Live ändert wäre noch cool dazu gibts ja eigentlich ein Java-Script dabei

[2017-12-14 10:11] tbaddade commented on #30
@eace ja super.

@muenzberg-me Kannst du genauer beschreiben was du meinst?

[2017-12-14 10:19] ullmann-me commented on #30
@tbaddade In dem Addon gibt es ja auch noch die Möglichkeit den Focuspoint über etwas css und das beiliegende JavaScript zu setzen. Damit könnte man doch sicher eine Art Liveansicht bauen, direkt die Veränderung des Focuspoints angezeigt wird. Ohne ständig neu das Bild laden zu müssen?

[2017-12-14 10:22] tbaddade commented on #30
Das Bild muss geladen werden, da es unterschiedliche Mediatypen gibt. Das Bild sollte aber nicht neu erstellt werden, da es nach dem ersten Laden aus dem Cache geholt wird. Wobei @eaCe ich vermute du erstellst das Bild direkt live oder?

[2017-12-14 10:31] olien commented on #30
@eaCe Find ich super...

[2017-12-14 10:31] olien commented on #25
Hm.... Gefällt dir die Lösung? Oder lassen wir die Felder einfach?

[2017-12-14 10:33] olien commented on #30
Mann könnte aus "Focuspoint zurücksetzten" auch noch einen Button ("Reset") machen und den Button und das Select nebeneinander platzieren... was mein ihr?

[2017-12-14 10:35] ullmann-me commented on #30
Ja das wäre das optische schönere

[2017-12-14 10:53] eaCe commented on #30
Okay, nächster Versuch… :)

![mediapreview3](https://user-images.githubusercontent.com/2708231/33988670-50b519f6-e0c5-11e7-9a41-fec277e7ed30.gif)

[2017-12-14 10:54] ullmann-me commented on #30
**Perfekt!!!!!**

Los Los will haben :-P

[2017-12-14 11:07] tbaddade commented on #30
@eaCe Werden die erstellten Bilder gecached? Und könntest du in deinem GIF einmal verschiedene Formate (Hoch/Quer) zeigen.

[2017-12-14 11:21] eaCe commented on #30
@tbaddade ich rufe die Bilder für die Vorschau über `index.php?rex_media_type=...` auf, reicht das alleine schon? Ich dachte dann werden die Bilder generell gecached. Es wird hier ja auch nichts beschnitten und müsste neu gecached werden?

[2017-12-14 11:22] eaCe commented on #25
Gefällt mir nicht, habs aber mal mit rein genommen und ist beim PR dann dabei.

[2017-12-14 11:29] tbaddade commented on #30
Lege mal einen Mediatypen mit dem `focuspoint_fit` Effekt an mit diesen Einstellungen. Keine weitere Effekte

![screenshot 2017-12-14 12 26 24](https://user-images.githubusercontent.com/338267/33990135-3cb0fa42-e0ca-11e7-9167-c920c0702e5c.png)

Verändere den Focalpoint und das Bild müsste neu erstellt und gecached werden.

[2017-12-14 11:30] olien commented on #25
Ok. Ich würde sagen dann kann das hier zu....
(soll wieder einer aufmachen wenn doch zu doof :-))

Danke!

[2017-12-14 11:30] #25 closed, assigned to olien

[2017-12-14 11:32] tbaddade commented on #25
@eaCe Dann mache bitte 2 PRs. Einen für dieses Issue und einen für deine Weiteren Änderungen.

[2017-12-14 11:56] eaCe commented on #30
Ich bin nicht sicher ob ich das richtig verstehe, aber ich müsste den Typen dann auch nutzen um den Cache zu erstellen? Oder sollte das speichern eines Focuspoints dazu ausreichend sein? Denn nur mit Typ kann ich im Cache-Ordner nichts finden.

[2017-12-14 12:15] tbaddade commented on #30
Du wählst doch den Typen in deinem select aus und lässt dir das Bild liefern. Oder nutzt du die CSS-Angaben um das Bild zu positionieren?

[2017-12-14 12:17] eaCe commented on #30
Aktuell nutze ich CSS, kann aber auch den Typen nehmen, das ist mir recht egal :)

[2017-12-14 12:32] tbaddade commented on #30
Ich fände es gut, wenn das Bild tatsächlich durch die Auswahl des MediaTypen vom MediaManager erstellt wird. In der Box ein `max-width: 100%`  und man hat die richtige Vorschau des Bildes.

[2017-12-14 12:52] eaCe commented on #30
Dann verlieren wir aber den Kontext gegenüber den ausgewählten Medientypen? Dann wäre es eine generelle Vorschau.

[2017-12-14 12:54] olien commented on #30
Sinnvoll wäre es, das ja noch mehr Effekte auf dem generierten Bild passieren angewendet werden könnten.

[2017-12-14 12:59] tbaddade commented on #30
Ging es denn nicht darum? Ich dachte die Vorschau soll genau das Bild mit dem gesetzten Focalpoint und der Auswahl des Mediatypen zeigen. Sozusagen eine Vorschau wie es tatsächlich im Frontend ausgegeben wird.

[2017-12-14 13:00] eaCe commented on #30
Ich hatte @muenzberg-me  so verstanden, das die Vorschau anhand eines vorhanden Typen erzeugt werden soll.

[2017-12-14 13:03] tbaddade commented on #30
Die Typen sind alle vorhanden und du gibts diese bereits in der Auswahl vor.

[2017-12-14 13:21] eaCe commented on #30
Okay, dann müsste aber jeder Benutzer den Effekt für sich selbst anlegen. Denn wenn ich `focuspoint_fit` nutze ist die Ausgabe nur dann sinnvoll wenn ich auch die gewünschte Größe wähle oder sehe ich das falsch?

[2017-12-14 13:29] olien commented on #30
Stimmt. Vielleicht macht es sinn bei keiner Auswahl eine MM Types die CSS Geschichte zu nutzen und wenn ein MM Typ ausgewählt wird dann wird der in der Vorschau angezeigt.

Vielleicht können auch nur die MM Typen zur Auswahl angezeigt werden, bei denen auch die Effekte Focuspoint: fit oder Focuspoint: resize benutzt werden :-)

LG
Oliver

[2017-12-14 14:50] eaCe commented on #30
Ich überlasse diese Entscheidung euch. Ich halte es für sinnvoll, wenn die Vorschau für alle Typen verfügbar ist, auch wenn es nicht unbedingt Auswirkungen auf die Vorschau gibt…

Und zu unterscheiden ob die Effekte genutzt werden oder nicht sollte auch recht problemlos funktionieren. Das würde ich dann wie von Oliver vorgeschlagen übernehmen.

[2017-12-14 14:58] ullmann-me commented on #30
Also was @eaCe da gebastelt hat und im letzten Gif gezeigt hat ist genau das was ich wollte.

Mir ging es selbst nie darum das alle Effekte angezeigt werden sondern lediglich eine Vorschau was der Focuspoint im ausgewählten MM Type für Auswirkungen hat um das genau einstellen zu können. Da ich auch viel mit der Fotografie mache ist das für mich wichtig, das entsprechende Thumbnails oder Banner das

[2017-12-14 15:09] eaCe commented on #30
@muenzberg-me  du kannst zum testen die aktuelle Version nutzen:

https://github.com/eaCe/focuspoint

[2017-12-14 16:02] ullmann-me commented on #30
Okay da läuft noch was recht schief. Also bei mir ist das Bild voll gezoomt obwohl ich im Focuspoint: fit eingestellt habe Zoo 100%. ich glaube dein Ansatz ist nicht ganz richtig.

[2017-12-14 16:04] eaCe commented on #30
Wie ist denn die Ausgabe im FE? Kannst du den Vergleich vielleicht mal zeigen?
Ich habe `Zielgröße verwenden (0%)` benutzt und es hatte den Anschein das es funktioniert.

[2017-12-14 16:10] tbaddade commented on #30
Genau. Wir verwenden auch nur den focuspoint_fit mit 100%. @eaCe 100% bedeutet hier, das soviel Bild wie möglich um den Focalpoint herum verwendet werden soll.

[2017-12-14 16:12] eaCe commented on #30
Okay, das heißt aber auch, wenn das Bild nicht beschnitten/resized wird, sieht man keinen Effekt, richtig?

[2017-12-14 16:15] tbaddade commented on #30
"Effekt" wäre hier das falsche Wort, da der Mediatyp verschiedene Effekte haben kann.

Man sieht keine Änderung des Bildes. Es kann durchaus passieren, dass Bilder 1:1 durchgereicht werden.

[2017-12-14 16:17] eaCe commented on #30
Genau deswegen bin ich nicht sicher, ob mein Ansatz falsch ist oder ob hier vielleicht ein Einstellungsfehler bei @muenzberg-me vorliegt :|

[2017-12-14 16:29] tbaddade commented on #30
Verwende nur den Effekt "focuspint_fit" und alle anderen Effekte würde ich bei Tests außen vor lassen.

Bsp. Die Breite des Bildes ist dabei immer 400px.

**Focuspoint**
![screenshot 2017-12-14 17 27 15](https://user-images.githubusercontent.com/338267/34002888-2326d4aa-e0f4-11e7-9e37-c6df416b61ad.png)

**Ausgabe 1:1**
![semperoper](https://user-images.githubusercontent.com/338267/34002903-2fb02ff

[2017-12-14 17:45] eaCe commented on #30
Das ist genau das Verhalten das ich erwarte.

Ich übernehme nun die Idee von Oliver und werde checken ob im Mediatypen ein Focuspoint-Effekt vorhanden ist und das Bild ausgeben. Im anderen Falle werde ich bei der CSS Variante bleiben, wenn das so für alle in Ordnung ist.

[2017-12-14 18:04] olien commented on #30
Find ich super!

[2017-12-15 06:22] eaCe commented on #30
Eine Sache noch… Wenn ich das „echte“ Bild mit einem Focuspoint-Fit Effekt anzeigen live aktualisieren möchte, muss ich den Focuspoint vorher speichern. So würde ich bei jedem setzen des Focuspoints die Daten direkt speichern. Ich bin nicht sicher ob man das so machen sollte oder ob das einige verwirren könnte?

[2017-12-15 08:03] tbaddade commented on #30
@eaCe muss ich den Focuspoint vorher speichern.

Nicht unbedingt. Du kannst die Werte im Effekt "focuspoint_fit" auch direkt anpassen (siehe Beispiel unten). Das Problem wird dann aber das Caching sein. Durch das Speichern des Formulars werden die bisherigen Cachedateien auf jedenfall gelöscht. Wie wäre es neben "Focuspoint zurücksetzen" einen Button "Focuspoint speichern" zu setzen. Der würde ebe

[2017-12-16 09:57] eaCe commented on #30
Okay, habe es nun hinbekommen. Es funktioniert wie gedacht, allerdings muss ich den Speichervorgang noch optimieren... Danke @tbaddade  ich nutze zum löschen des Bildcaches `rex_media_manager::deleteCache`

![mediapreview4](https://user-images.githubusercontent.com/2708231/34069341-f1a2d750-e24f-11e7-931a-e80c5fa7c52f.gif)

[2017-12-16 16:49] eaCe commented on #30
Nun ist aufgeräumt und die neue Test-Version liegt bei mir:
https://github.com/eaCe/focuspoint/

Vielleicht kann @muenzberg-me diese ja noch ein mal testen.
Wenn die Vorschau aktiv ist, wird der Focuspoint, wenn dieser verschoben wird, in der DB gespeichert.
Bei einem Klick auf zurücksetzen wird dieser auch in der DB entfernt.

[2017-12-20 11:58] eaCe commented on #30
Ich werfe nun einfach mal den PR rein, wenn jemand etwas auffällt wird man sich schon melden...

[2017-12-20 16:42] #30 closed, assigned to eaCe

[2018-01-17 15:45] tbaddade opened #35 "Deprecated: Non-static method rex_media_manager::effectsFromType()"
Genaueres hier
https://github.com/FriendsOfREDAXO/focuspoint/pull/32#discussion_r161157975

[2018-01-22 10:10] olien commented on #30
Die Version ist aber noch nicht im Installer - oder?

(Gerade getestet. Gefällt mir sehr gut! Daumen hoch!!!)

[2018-01-22 10:23] eaCe commented on #30
Nein noch nicht im Installer, ich dachte diesen schritt "muss" der Besitzer machen?

[2018-01-22 10:25] olien commented on #30
Nö. Muß nicht :-) Wir sind alle die "Besitzer".

Ich würde vorschlagen, dass wir jetzt noch warten ob Chris sich zu meinem PR meldet und dann kommt das alles zusammen in den Installer. Oder?

LG
Oliver

[2018-01-22 10:40] eaCe commented on #30
Alles klar! :octocat:

[2018-02-17 15:36] eaCe commented on #35
Fix:
https://github.com/FriendsOfREDAXO/focuspoint/commit/deb8b313e87b639740d03bb0ab05f48b70b839f1

[2018-02-17 15:36] #35 closed, assigned to eaCe

[2018-02-27 13:56] olien opened #38 "Neues Relase erstellen und in den Installer laden"

[2018-03-06 08:24] tbaddade commented on #38
@olien Könntest du das demnächst machen?

[2018-03-06 08:41] olien commented on #38
Release habe ich erstellt. In den Installer hochladen kann ich es gerade nicht.

[2018-03-06 09:09] tbaddade commented on #38
Danke dir.

Woran hakt es?

[2018-03-06 09:17] olien commented on #38
Entweder habe ich den falschen FOR Key (wurde der geändert?) oder es liegt daran, dass ich ne lokale Installtion via MAMP nutze

[2018-03-06 15:13] skerbis commented on #38
Es liegt an MAMP
Mit Docker geht's

[2018-03-06 18:14] olien commented on #38
Könntest du das eben in den installer schieben?

[2018-03-06 19:45] skerbis commented on #38
japp

[2018-03-07 07:00] olien commented on #38
Es gibt schon wieder ne neue Version :-))

[2018-03-22 15:31] skerbis opened #40 "Vorschau: Mediatypen"
- Nur Mediatypen zeigen, die focuspoint verwenden.
- Keine rex_mediabutton_preview, rex_mediapool_detail usw. auflisten

[2018-03-22 15:32] #38 closed, assigned to nobody

[2018-03-22 20:04] olien commented on #40
Find ich gut. habe gerade eine ellenlange Liste an Mediatypen....

[2018-03-23 15:42] eaCe commented on #40
Wenn es um die Vorschau geht die ich eingebaut hatte, kann ich mich dem annehmen.

[2018-03-23 18:51] skerbis commented on #40
Gerne. Übringens, @eaCe tolles Feature

[2018-03-24 14:04] #40 closed, assigned to eaCe

[2018-04-26 09:01] olien opened #42 "Vorschau abschaltbar machen (irgendwie)"
Sofern das AddOn 'media_manager_plus' benutzt wird wird die Liste unmöglich nutzbar, das zwölfzigtausend MediaManager Typen angelegt werden....

[2018-06-04 21:40] christophboecker opened #43 "FP vs REX 5.6 wg. EP MEDIA_DETAIL_SIDEBAR"
Bevor sich jemand wundert mache ich schon mal ein Issue auf. An der Sache wird auch schon gearbeitet, dauert nicht lange ...

Ab der neunen Version 5.6 hat Redaxo einen EP MEDIA_DETAIL_SIDEBAR, mit dem Content neben dem Medien-Formular ausgegeben werden kann. Da es den bisher nicht gab, wurde für FP ziemlich getrickst. Das hat zur Folge, dass per MEDIA_DETAIL_SIDEBAR eingefügte Inhalte von FP wied

[2018-06-09 14:49] christophboecker opened #45 "Datenbank bereinigen; nur noch 1 Feld"
Hallo zusammen,

es gibt ein paar Ideen, das Focuspoint-Addon etwas zu überarbeiten. Ein Thema ist die Datenhaltung.
Ich würde das gerne etwas umgestalten. Insbesondere stört mich, dass zwei Felder geführt werden, deren Inhalte aber synchron sein müssen. Dass es zwei Felder sind, hat historische Gründe; muss man aber nicht in alle Ewigkeit fortführen.

Konkret wird die Koordinate in zwei Formaten

[2018-06-10 08:39] olien commented on #45
Finde ich sehr gut!

[2018-06-10 21:35] madiko commented on #45
Hallo Chris,
grundsätzlich finde ich es eine gute Idee, die ich unterstütze.

Ich überblicke jedoch gerade nicht, welche Auswirkungen sich auf das AddOn LightGallery daraus ergeben. Ich habe nur grob in Erinnerung, da über genau dieses css gestolpert zu sein (kann auch im Modul gewesen sein, dass dort von Haus aus mitgeliefert wird) als ich es neulich einbaute.

Würdest Du bitte da mal nach schaue

[2018-06-11 04:36] olien commented on #45
Da gibt es keine Abhängigkeiten...

[2018-06-11 10:47] olien commented on #45
Theoretisch brauchen die Werte gar nicht sichtbar sein (zumindest nicht in einem fetten Input Feld..) - oder? Wie wäre es so?

![fp](https://user-images.githubusercontent.com/330516/41227541-8427ce0e-6d75-11e8-9342-392ff656d918.jpg)

[2018-06-11 10:50] christophboecker commented on #45
Vieleicht wird es auch so:
<img width="410" alt="grafik" src="https://user-images.githubusercontent.com/10065904/41227638-d21c2984-6d75-11e8-8f72-2a3f22a5ff68.png">
Was man nicht sieht ist der Cursor, der auch als großes Fedenkreuz deherkommt und dessen Position angezeigt wird solange die Maus läuft.

[2018-06-11 10:50] tbaddade commented on #45
Dann sollte das Bild größer dargestellt werden. Ab und zu habe ich die Werte manuell anpassen müssen.

[2018-06-11 10:57] christophboecker commented on #45
Heute haben wir im Data-Feld 200 Werte (-1.00 bis 1.00). Mit unseren üblichen Bidschirmen sollte das Bild doch eigentlich immer größer sein als 200 px, oder. Also kann man m.E. den Punkt auch treffen. Und wenn die Cursorposition bei der Auswahl ngeeigt wird, hilft das ja auch.

Aber davon mal abgesehen ... ich halte es auch für gut, mal was manuell eingeben zu können, und würde es nicht rauswerfen

[2018-06-11 11:08] tbaddade commented on #45
Initial wird das Bild im Medienpool mit 350px angezeigt. Da ist bei manchen Bilder zu klein.

[2018-06-11 11:28] christophboecker commented on #45
Das bringt mich auf eine Idee: Zoom-Button. Der vertauscht einfach die Spalten-Klassen sm-8 und sm-4.

![grafik](https://user-images.githubusercontent.com/10065904/41229232-7fb8fb30-6d7b-11e8-9601-ee8b1762aff6.png)

[2018-06-11 11:39] tbaddade commented on #45
Oder aus der **4** eine **12** machen

[2018-06-11 21:40] IngoWinter commented on #45
Ich würde es so lassen, wie es ist. Wenn jemand das Eingabefeld für die Focuspoint Koordinaten nicht haben möchte, kann er es einfach selbst ausblenden:
[code]
ebenso lässt sich die Vorschaugeschichte einfach ausblenden:
[code]

[2018-06-12 05:49] olien commented on #45
Auch eine gute Idee.. sollten wir in die Readme packen.

[2018-06-12 05:58] olien commented on #42
Die Lösung von @IngoWinter reicht vollkommen:

`#focuspoint-reset + .btn-group {
    display: none;
}`

Danke

[2018-06-12 05:58] #42 closed, assigned to nobody

[2018-06-14 11:40] marcohanke commented on #45
Wenn nur ein Feld gebraucht wird, wirde ich konsequenterweise auch die alten Zöpfe abschneiden und nur ein Feld nutzen. Mich hat es sowieso immer verwirrt dass zwei Felder da sind...

[2018-06-15 16:07] christophboecker commented on #45
Danke für die Rückmeldungen. Ab der nächsten Version gibt es:

- Daten nur noch einmal speichern (med_focuspoint)
- Koordinate ist % der Breite bzw. Höhe mit 1 Nachkommastelle, Nullpunkt oben links.
- Erweiterung um weitere eigene Fokuspunkt-Felder
- Eigener Meta-Datentyp für die Felder

[2018-06-18 15:18] ynamite commented on #45
Die Zoom-Funktion fände ich jetzt nicht verkehrt. Kunden die mit Focuspoint gearbeitet haben, haben mich auch schon nach einem Zoom gefragt (bin nur nicht auf die super einfache Lösung von @christophboecker gekommen, schlau!)

[2018-06-18 17:18] christophboecker commented on #45
@ynamite Ich werkel grade an einem größeren Umbau. Zoom ist im Paket.

[2018-06-19 15:27] ynamite opened #48 "SVGs und Focuspoint"
Wäre es möglich Focuspoint auch für SVG Dateien zu zulassen? Ginge das überhaupt?
Hab aktuell gerade das Thema, dass ein Kunde das gerne auch für SVGs einsetzen möchte (geht um Grundrisspläne).

[2018-08-07 14:08] christophboecker commented on #48
Hab mal nachgeforscht. Es scheitert schon daran, dass der Media-Manager SVG-Dateien nicht unterstützt. Du kannst zumindest manuell Fokuspunkte in die Felder eintragen; der interaktive Teil der Eingabe läuft ebenfalls nicht, da nur die MM-bezogene URL in der Seitenleiste (die für "echte" Bilder) gesucht und ersetzt wird und nicht die einfache "Datei-Url".

Um es abzukürzen: Du kannst z.B. das Feld

[2018-08-14 10:27] skerbis opened #49 "Blank Screen beim Speichern"
Safari 11.1.2 … wenn ich auf "aktualisieren" klicke bei aktivierter Vorschau, erhalte ich einen Blankscreen.

[2018-08-14 10:32] olien commented on #49
Version 2 ist unterwegs...

[2018-08-24 16:17] christophboecker commented on #49
Hab den PR für die neue Version eben eingestellt. Ich hatte keinen Blankscreen beim Speichern mit Safari.

[2018-08-31 10:25] christophboecker commented on #48
@ynamite Kann ich das issue schließen?

[2018-08-31 10:32] ynamite commented on #48
Yep

[2018-08-31 10:32] #48 closed, assigned to nobody

[2018-08-31 14:16] madiko commented on #45
<<< hat gerade den 42. Stern drangepinnt und freut sich.

Prima Arbeit! Wirklich toll.
Gruß an alle,
Franziska

[2018-08-31 16:50] #49 closed, assigned to nobody

[2018-08-31 16:52] christophboecker commented on #45
Da der PR für V2 nun gemerged ist, kann das Issue geschlossen werden. Danke für die unterstützende Diskussion.

[2018-08-31 16:52] #45 closed, assigned to nobody

[2018-08-31 16:53] christophboecker commented on #43
Hat sich ja mit dem PR vom 6. Juni erledigt

[2018-08-31 16:53] #43 closed, assigned to nobody

[2018-09-03 12:30] marcohanke opened #51 "Veränderter Zoomfaktor nach Update"
Beim Update Focuspoint 1.4.3 auf Focuspoint 2.0.0 wird im Mediamanager beim Effekt Focuspoint fit das Feld Zoom nicht richtig übernommen. Der Zoomfaktor 100% wird auf 0% gesetzt. Beide Screenshots anbei. Getestet mit Redaxo 5.6.1 und Redaxo 5.6.2.

Vor Update:
![image](https://user-images.githubusercontent.com/2425981/44986972-de4e8880-af85-11e8-92db-af1c89ba4e6d.png)

Nach Update:
![image](https:

[2018-09-07 07:16] dpf-dd opened #53 "Nach Update: Broken Images"
Ein tolles Update, die neue v2! Vielen Dank für dieses sinnvolle Addon...
Habe das heute mal auf einem Testsystem mit bestehenden Inhalten ausprobiert. Nach dem Update von v1.x habe ich aber das Problem, dass im MP die Vorschaugrafiken nicht laden.

Im Quelltext steht als Bild-Tag bei mir das hier
```http://www.xyz.de/redaxo/index.php?page=mediapool/media&rex-api-call=focuspoint&type=1920_1080&fil

[2018-09-07 07:48] christophboecker commented on #53
Hm. Mein Link im "Quelltext" sieht z.B. so aus:
[code]
Im Source steht nur `<img >`. Der Link wird vom JS zusammengebaut:
[code]
pathname ist `.../redaxo/index.php`und search ist `?page=mediapool/media&file_id=1&rex_file_category=0`.

Das bei mir auf allen REX-Instanzen so. Feststellung 1: mit dem Link stimmt schon was nicht. Ich kann es aber nicht nachstellen.

Die Fehlermeldung besagt, dass die

[2018-09-07 08:06] dpf-dd commented on #53
Jo, Cache mehrfach gelöscht. AddOn auch "re-installiert" - Problem bleibt bestehen. Neu ist, dass jetzt ALLE Frontend-Bilder broken sind :D
Möchtest du mal einen Zugang zu meinem Testsystem?

[2018-09-07 08:26] christophboecker commented on #53
Kann ich gerne mal ansehen. Schick zu (PN in slack bzw. Mail)

[2018-09-07 10:36] christophboecker commented on #53
@gharlan Hi Gregor,

hast Du evtl eine Idee, was da querhängt?

Ich habe eine Klasse `focuspoint_media` abgeleitet von `rex_media`. (https://github.com/FriendsOfREDAXO/focuspoint/blob/master/lib/focuspoint_media.php#L22).

Der Aufruf
[code]
geht stets unfehlbar auf die Bretter mit der Fehlermeldung
[code]

Und zwar nur dann, wenn ich mich auf einer Instanz mit PHP 5.6 bewege. Mit PHP 7 ist die Wel

[2018-09-07 10:42] alexwenz commented on #53
Hatte auch das Problem. Ging tatsächlich nur mit dem Umstieg auf PHP 7. Wenn nicht anders lösbar, sollte das beim Update-Hinweis hinterlegt sein.

[2018-09-07 10:53] christophboecker commented on #53
Evtl hat Gregor ja nen Tip? Wenn nein wird PHP7 Voraussetzung. Der Active-Support für 5.6 ist eh lange zu Ende und der verbliebene Security-Support wird am Jahresende eingestellt. Die Hoster fangen ja auch schon an, 5.6 abzuklemmen. Ist halt etwas unschön, wenn ein Addon mehr fordert als die Basis.

[2018-09-08 15:23] schuer commented on #53
@christophboecker Deiner Klasse fehlt ein (leerer) Konstruktor, siehe auch https://friendsofredaxo.github.io/tricks/snippets/klasse_rex_media_erweitern (letzter Codeblock unten)

[2018-09-08 16:19] #53 closed, assigned to nobody

[2018-09-08 16:20] #51 closed, assigned to nobody

[2018-09-08 16:28] christophboecker commented on #53
Danke fürs Fehlerfinden und den Lösungshinweis.

[2018-09-21 13:34] tbaddade opened #56 "Werte werden aus dem Input nicht für die Auswahl übernommen"
Will man die Werte im Input nachträglich anpassen, geht der Focalpoint, obwohl in der Eingabe etwas anderes steht, auf 50/50 zurück.

[2018-09-21 13:39] christophboecker commented on #56
Danke für den Hinweis. Ich kann den Fehler nachstellen. Dann schau mer mal woran es liegt.

[2018-09-21 14:16] tbaddade opened #57 "Vorschau liefert das bekannte "error" Bild"
Einzig die Vorschau von Focuspoint kann das Bild nicht liefern.

Über andere Urls, wie

`/media/bild.jpg`
`/images/mediatype/bild.jpg`
`/images/mediatype/400/bild.jpg`

wird das Bild korrekt angezeigt.

[2018-09-21 15:11] christophboecker commented on #56
Und denselben Effekt habe ich auch mit allen anderen Meta-Feldern, die nichts mit FP zu tun haben. Nicht eines zeigte die Werte aus dem Record an. Konkret bei FP gesehen: an den custom_field_handler, der je vom EP aus aufgerufen wird, kam schon kein itemValue an, obwohl es das richtige Feld und der richtige Record sind. Eingegebene Werte werden aber in den Satz geschrieben. Der Weg klappt. Identis

[2018-09-21 15:23] tbaddade opened #58 "Javascript Datei fehlt um Bild im Frontend zu positionieren?"
Vielleicht geht es mit der neuen Version anders, aber man konnte in der 1er Version via data-Attribute die Koordinaten mitgeben und das Bild wurde dann via JS korrekt positioniert.

In der Doku habe ich dazu nichts finden können. Kannst du dazu kurz etwas schreiben, wie das mit der 2er Version funktioniert?

Hier das Original http://jonom.github.io/jquery-focuspoint/demos/full-screen/index.html

[2018-09-21 15:56] christophboecker commented on #58
Ds Teil war gaaanz früher mal mit drin. Ist irgendwann mal rausgefallen, keine Ahnung wann und warum. Siehe Issute #47. Das JS von jonom hatte nichts mit der Erfassung im Media-Formular zu tun. Man hätte also schon damals das JS von jonom mit eigenem Code - im Frontend - aktivieren müssen. Aktuell gibt es drei Methoden:
* per media-manager und den entsprechenden Effekt
* händisch z.B. als Hintergr

[2018-09-21 16:02] christophboecker commented on #57
Bei mir nicht nachstellbar. Sorry.

Zu den URLS kann ich nix sagen. Bei mir sehen die "klassisch" aus mit ? und viel &.

[2018-09-21 17:04] tbaddade commented on #58
Korrekt, die Idee von jonom war m.W. damals die Basis für dieses Addon. Dazu kann @olien aber mehr sagen

[2018-09-22 16:37] christophboecker commented on #56
Überraschung! Das Problem ist stabil wieder da und auch durch Löschen des Cache nicht zu verscheuchen.

Focuspoint baut ja zwei Elemente in das media-Formular ein: In die Sidebar die interaktive Auswahl und in das Formular ein Custom-Feld. In beide Code-Abschnitte habe ich Kontrollausgaben eingebaut:

* An den Anfang der interaktiven Auswahl habe ich einen Dump des Media-Objektes gesetzt, einmal a

[2018-09-22 18:18] skerbis opened #59 "Optionen verständlicher machen"
Die Bedienung bzw. die Auswahl der Optionen war vorher einfacher und verständlicher.

[2018-09-23 09:08] christophboecker commented on #59
Danke für das Feedback. Was konkret meinst Du und was wäre Dein Verbesserungsvorschlag?

[2018-09-23 10:30] skerbis commented on #59
Die Select-Optionen waren vorher direkt beschrieben und so verständlicher.
Koordinate / Ersatzwert: hier wird nicht klar was zu machen ist.
Die Trennung in 2 Eingabefeldern wie in der Vorversion ist einfacher und verständlicher, finde ich.

Dennoch ein sehr gelungenes Addon. Ich liebe die neue Vorschaufunktion mit Vergrößerung. :-)

[2018-09-23 10:58] olien commented on #58
Stimmt. Das war die Basis. Durch die MM Typen wurde das wohl nicht mehr benutzt.
Da die FP Werte ja aus der DB geholt werden können kann man ja immer noch mit dem JS arbeiten - oder? Ist halt nur nicht mehr mitgeliefert...

[2018-09-25 20:45] tbaddade opened #60 "focuspoint_resize erstellt zu kleine Bilder"
**Effekt Werte**

| Label | Wert |
| --- | --- |
| Basisfeld (med_...) | med_focuspoint |
| Koordinate / Ersatzwert | |
| Zielgröße: Breite | 2600 |
| Zielgröße: Höhe | |
| Modus: | maximum |

**Bild Werte**

| Label | Wert |
| --- | --- |
| Focalpoint des Bildes | 50.0%,95.0% |
| Breite / Höhe des Bildes | 2600px / 1953px |

**Ausgabe**

Das Bild wird dann mit `2.600px x 212px` ausgegeben. Erwart

[2018-09-26 18:33] christophboecker commented on #60
Kann ich nix zu sagen. Der Effekt focuspoint_resize ist noch im Paket, weil ich ihn nicht Knall auf Fall rauswerfen wollte. Auf alle Anfragen vorher, wer in nutzt, habe ich keine positive Rückmeldung bekommen. Support ist eingestellt (siehe Change-Log etc.)

Oder geht es um focuspoint_fit?

[2018-09-26 18:39] tbaddade commented on #60
Es geht um den Effekt `focuspoint_resize` nicht um den `focuspoint_fit`. Der `focuspoint_resize` Effekt machte genau das was der mitgelieferte `resize`Effekt macht nur unter Berücksichtigung des Focalpointes.

[2018-09-26 18:49] christophboecker commented on #60
Sorry, aber dann bin ich raus.

[2018-09-27 04:39] olien commented on #60
Den Effekt hat damals Jan gebaut. Bin davon ausgegangen, dass der auch in der neuen Version funktioniert.

[2018-09-27 06:08] christophboecker commented on #60
Ich schau mir das Teil noch mal an. Schließlich habe ich es auf die aktuelle Variante umgestellt.

[2018-09-27 06:09] tbaddade commented on #60
Danke dir

[2018-09-27 16:53] christophboecker commented on #60
Frage an Oliver: was hat Jan genau gebaut damals - den Original-Resize im Media-Manager oder (auch) den Focuspoint-Resize? Nur der letztere liefert die seltsamen Ergebnisse.

[2018-09-27 17:04] olien commented on #60
Ich vermute beide. Ganz sicher aber den Focuspoint Effekt.

[2018-09-27 17:26] christophboecker commented on #60
Frage an Thomas: setzt du den Effekt Focuspoint-Resize erstmalig ein?

Die Funktion war schon immer seltsam und die Ergebnisse, die Du nun siehtst und eben nicht Deinen Erwartungen entsprechen (meinen auch nicht, nebenbei angemerkt), sind komplett normal und waren schon immer so. Deshalb hier mal die Gegenüberstellung verschiedener Varianten (gleiche Parameter, unterschiedlicher Fokuspunkt), durch

[2018-09-27 17:26] christophboecker commented on #60
@dergel Ping!

[2018-09-27 18:11] tbaddade commented on #60
nein aber recht selten. Aufgefallen ist es mir auch nur, da bereits ein Bild, welches ich für Testzwecke verwendet hatte, einen Focalpoint von 50/90 hatte. Mal sehen was Jan dazu meint.

[2018-09-28 09:28] dergel commented on #60
ich werde gerade nicht dazu kommen und bis erstmal eine Woche im Urlaub..

[2018-09-28 10:59] christophboecker commented on #56
In meiner Testumgebung konnte ich klären, was das seltsame Verhalten ausgelöst hat und nachhaltig abstellen. Fehlerursache war ein anderes (privates) Addon, das ebenfalls den EP MEDIA_DETAIL_SIDEBAR belegte. In der EP-Funktion wurde die SQL-Instanz, die als $ep->getParams(['media']) zugänglich ist, mit `$ep->getParams(['media'])->getArray()` abgefragt. Ganz blöder Fehler! Abfrage mit `getValue` un

[2018-10-09 07:53] IngoWinter opened #62 "kein Release für die neueste(n) Version(en)?"
Das letzte Release hier auf Github ist die 1.4.3, im Installer gibt es aber schon die 2.0.2. Geile Hillfepage übrigens :+1:

[2018-10-09 08:07] christophboecker commented on #62
Ägypten? Das hier in Github ist dieselbe Version wie im Installer.

[2018-10-09 08:19] tbaddade commented on #62
@IngoWinter meint das hier https://github.com/FriendsOfREDAXO/focuspoint/releases

[2018-10-09 12:02] christophboecker commented on #62
Oh manno, der kryptische Github-Overhead nervt mich ganz gewaltig. Was soll denn jetzt hier wieder passieren? Ich verstehe die Doku nicht wirklich: wenn alles beisammen ist (also alle PR, die zum neuen Release gehören, gemerged sind) drafte ich zusätzlich ein neues Release und publiziere es. Oder wie, oder so, oder anders?

[2018-10-09 12:17] tbaddade commented on #62
Informationen dazu findest du hier https://github.com/FriendsOfREDAXO/friendsofredaxo.github.io#ein-release-eines-addons-erstellen

[2018-10-09 13:30] schuer commented on #62
Der Text bei FOR ist sehr kurz. Was hier gewollt wird: Auf den letzten Commit, der zum Release führt — in der Regel sollte er die Version in der package.yml erhöhen —, setzt du einen Git-Tag, der dieser neuen Version entspricht, z. B. `2.0.2`. Wenn du nun pushst, wir dieser Tag mitgepusht (falls du einen Git-Client wie Sourcetree verwendest, musst du die Option evtl. noch per Checkbox »Push tags«

[2018-10-09 13:39] tbaddade commented on #62
@schuer Schön erklärt. Magst du das mit im Friends Repo aufnehmen?

[2018-10-09 13:43] schuer commented on #62
@tbaddade Aktuell wenig Muße, aber irgendwann — im Winter? — gerne, dann so richtig vollständig und mit Screenshots.

[2018-10-09 19:20] christophboecker commented on #62
Danke für die Infos. Ich schau mal, ob ich mir Urlaub nehme und ne längere Git-Schulung mache. Im Idealfall (für mich, nicht für den RdW) warte ich dann mal auf die Erläuterung im Winter :-)

Heißt im Worst Case: falls ich es bis dahin nicht verstanden habe gibt es keine neuen Releases.  <grins>, Nee im Ernst, ich frag mich dann durch.

[2018-10-09 19:37] IngoWinter commented on #62
https://de.wikipedia.org/wiki/RDW ???

[2018-10-09 19:45] IngoWinter commented on #62
@christophboecker ich hab noch nie einen Git Tag gesetzt sondern mach immer direkt ein Release fertig. Einfach bevor du das Dingen in den Installer packst das gleiche hier unter Release machen, fertig:
![release](https://user-images.githubusercontent.com/7223820/46694256-805c3300-cc0c-11e8-9b42-b46781146b0a.png)

[2018-10-10 05:18] christophboecker commented on #62
RdW steht im Zusammenhang mit Fahrgestellnummern. Die FIN für USA/Kanada ist anders als für den „Rest der Welt“.
http://www.elferclassic.de/technik/finvin80/

Von meinem Kühlschrank gesendet

[2018-10-10 06:45] schuer commented on #62
Was Ingo sagt. Allerdings setzt GitHub dann den Tag in dem Moment, wo man auf den Releaseknopf drückt, und falls in der Zwischenzeit jemand was committet hat, landet das mit im Release. Wenn man also mehr Kontrolle möchte, sollte man den Tag vorher manuell selbst setzen. In üblichen Git-Clients wie Sourcetree und Tower ist das nur ein Rechtsklick auf den passenden Commit, und dann im Kontextmenü s

[2018-10-16 08:58] claudihey opened #63 "Rechtschreibfehler 'Löchen' statt 'Löschen' in Dokumentation"
In der Navigation unter 'Addon-Verwaltung'

[2018-10-16 20:06] christophboecker commented on #63
Danke, Claudia, passe ich an.

[2018-11-30 18:00] christophboecker commented on #60
Hallo Kollegen, kann ich das Issue schließen?

[2018-11-30 18:03] christophboecker commented on #56
Hi Thomas, hat sich bei Dir noch etwas ergeben, dass auf einen konkreten Bug in Focuspoint schließen läßt? Sonst mache ich das Issue zu.

[2018-11-30 18:05] christophboecker commented on #58
nabend zusammen. Da sich hier nichts mer tut und die Frage geklärt ist schieße ich das Issue.

[2018-11-30 18:05] #58 closed, assigned to christophboecker

[2018-11-30 18:07] christophboecker commented on #57
Hi Thomas, haben sich bei Dir noch Erkenntnisse zu einer möglichen Ursache ergeben? Oder ist die Sache durch?

[2018-12-02 14:11] cukabeka opened #65 "Codebeispiele verständlicher machen"
Yes, das Addon sieht im Backend schon super aus und ist schön zu bedienen. Danke!

Auch die Doku sieht toll aus. Als Modul-Entwickler ist mir leider noch nicht ganz klar, was ich tun muss, um meine Bilder mit Fokus zu bekommen. Ich vermute, dass die Codepassage

[code]

die Nutzung im Modulcode beschreibt, aber so ganz klar ist mir das nicht. Prima wäre, wenn es eine Sektion für eine Beispiel-Modu

[2018-12-02 14:31] christophboecker commented on #65
Das Code-Beispiel kommt an zwei Stellen im Abschnitt "Für Entwickler" vor, wenn ich nicht irre. Einmal im Kapitel  "Klasse focuspoint_media" und einmal im Kapitel "Eigene Fokuspunkt-Effekte entwickeln". Im ersten Fall geht es um die Funktionsweise der Klasse focuspoint_media als Alternative für rex_media - halt mit Zusatzfunktion um den Foscuspunkt abzurufen. Die andere Varante ist ein Rohling für

[2018-12-02 15:17] cukabeka commented on #65
Cool, danke für die Erklärung.

Ich weiß zugegeben allerdings gerade immer noch nicht, was ich tun muss, um das Addon zu nutzen?

Muss ich also mein Modul umschreiben und focuspoint_media statt rex_media nutzen? Fände da einfach ein vorher-nachher Beispiel hilfreich.

[2018-12-02 15:24] christophboecker commented on #65
statt `<img src="media/filename.jpg">` nimmst Du `<img src="index.php?rex_media_type=meinmediamanagertype&rex_media_file=filename.jpg">`. Und im Media-Manager legst Du einen Media-Type "meinmediamanagertype" an und der bekommt den Effekt "focuspoint_fit" zugewiesen.  Ist aber kein FP-Thema, sondern ein MM-Thema.

[2018-12-03 08:40] tbaddade commented on #60
Wenn der Fehler bereits in der 1.4er Version enthalten ist, ist es m.E. auch weiterhin ein Fehler in der neuen Version auch wenn beide Versionen das gleiche Ergebnis liefert.

[2018-12-03 08:41] christophboecker commented on #60
Das ist kein Fehler. Das ist "Works as designed". :-)

[2018-12-03 08:42] tbaddade commented on #57
Scheint in der Zwischenzeit behoben zu sein.

[2018-12-03 08:49] tbaddade commented on #57
Sorry, hatte eben eine andere Version vom AddOn in der Instanz. Die Version `2.0.2`liefert immer noch das Error Bild

![screenshot 2018-12-03 09 47 53](https://user-images.githubusercontent.com/338267/49362925-863c3500-f6e0-11e8-980a-562b0019c053.png)

[2018-12-03 08:50] tbaddade commented on #56
Mit der Version `2.0.2` kann ich den Fehler nicht mehr nachstellen.

[2018-12-03 08:50] #56 closed, assigned to nobody

[2018-12-03 08:52] tbaddade commented on #65
Hast du yrewrite im Einsatz, kannst du auch `src="/images/meinmediamanagertype/filename.jpg"` notieren.

[2019-01-06 10:40] christophboecker commented on #63
erledigt, Danke für den Hinweis

[2019-01-06 10:40] #63 closed, assigned to nobody

[2019-06-24 14:36] tbaddade opened #69 "MediaType "focuspoint_media_detail" vorm löschen schützen"
Beim absetzen des Query's den Status auf `1` setzen.

[2019-06-24 15:52] christophboecker commented on #69
Könnst Du das bitte etwas genauer beschreiben. Danke!

[2019-06-24 20:52] tbaddade commented on #69
Beim absetzen des Query, wo du den MediaType in die DB speicherst, den Value für das Feld `status` auf `1` setzen. In der Liste wird dann der Löschenlink mit Systemplugin ersetzt

[2019-06-25 17:06] christophboecker commented on #69
Jaaaah, das ist mir bekannt. Ich hab damals ganz bewußt nicht die Möglichkeit genutzt, den Status auf 1 zu setzen, denn ... Focuspoint ist kein System-Addon. Wäre natütlich schicker weil einfacher. Wie war es denn seinerzeit gedacht? Sollte das Flag nur für Core-Medientypen gelten oder generell frei verfügbar sein auch für Addon-interne Medientyen?

[2019-06-26 08:12] tbaddade commented on #69
Ich sehe den Status für alle AddOns an. Das AddOn benötigt diesen Typen mit seinen Effekten und sollte durch andere m.E. nicht gelöscht werden.

[2019-06-27 15:25] christophboecker commented on #69
Das wäre nicht mehr hinreichend eindeutig. Wenn ein Mediatyp als "System Mediatyp" geflagged ist, würde ich ihn ohne zu zögern in einem Addon benutzen. Er wurde mit dem Core+ ausgeliefert. Bei Medientypen, die mit einem Addon kommen, würde nicht mehr auffallen, dass sie mit einem AddOn kamen und nicht mit dem Core. Da hat man schnell bei einem selbst geschriebenen (FOR-)Addon übersehen, die nötige

[2019-06-27 15:25] christophboecker commented on #69
Aber ich gebe Dir recht: ein AddOn müsste irgendwie verhindern können, dass Mediatypen gelöscht werden. Und eigentlich dachte ich, dass ich das auch dringehabt hätte in Focuspoint - war wohl Wunsch.

Und es gibt noch ein Problem: wenn der Mediatyp (oder auch ein Effekt oder ein Meta-Datentyp), der von einem AddOn zugeliefert wird, außerhalb des Addon genutzt wird, gibt es sowieso eklige Rückbezüge

[2019-06-30 10:07] christophboecker commented on #69
Querprüfungen, Änderungs- und Löschsperren eingebaut mit V2.1 #70

[2019-06-30 10:07] #69 closed, assigned to nobody

[2019-06-30 12:37] christophboecker commented on #62
So! V2.1 im Installer und als Release. Causa finita.

[2019-06-30 12:37] #62 closed, assigned to nobody

[2019-06-30 14:35] christophboecker commented on #65
Ich denke mal, das hat sich erledigt.

[2019-06-30 14:35] #65 closed, assigned to nobody

[2019-06-30 14:37] christophboecker commented on #57
Das ist ja nun auch schon älter, niemand sonst meldet den Fehler, ich kann ihn nicht nachstelle. Dann schließe ich das Issue mal.

[2019-06-30 14:37] #57 closed, assigned to nobody

[2019-06-30 14:42] christophboecker commented on #60
Hi Jan. Machst Du da noch mal was? Ansonsten schließe ich das Issue. Danke

[2019-06-30 14:45] christophboecker commented on #59
Die zwei Felder der Vorversion bezogen sich ja auf zwei Koordinatensysteme. Jetzt gibt es nur noch eines. Und daran was zu ändern wäre ein sehr tiefer Eingriff ins Addon. Ich schließe dann mal dieses Issue mit ZZTop-Bart

[2019-06-30 14:45] #59 closed, assigned to nobody

[2019-09-27 08:17] rkemmere opened #75 "Zoom-Faktor 755% anstelle von 75%"
Beim Zoom Faktor ist ein kleiner Bug. Es steht dort 755% in Value und Option anstatt 75%.

[2019-09-27 10:55] christophboecker commented on #75
Danke, erledigt. Neues Release ist 2.1.2, hier und im REX-Installer.

[2019-09-27 10:55] #75 closed, assigned to nobody

[2019-09-30 13:18] tbaddade opened #77 "Versionsangaben konfus"
Ein Update von Version 2.1.0 auf Version 2.1.1 zieht ein Update des Core auf 5.8 nach.
Verwirrt ich bin ;)

[2019-09-30 16:32] christophboecker commented on #77
Mit Version Redaxo 5.8.0 hat sich die Art und Weise, geändert, wie der FP-Code in die Sidebar des Media-Managers gehängt wird. Die neue Version von FP ist Folge, nicht Ursache.

[2019-10-01 14:22] marcohanke commented on #60
Ich hab' hier gerade genau das gleiche "Problem", aber wenn Focuspoint-Resize sowieso deprecated ist eigentlich hinfällig. @tbaddade was spricht an der Stelle Focuspoint Fit mit 0% ?

[2019-10-17 10:01] DanielWeitenauer opened #81 "Ausgabe der Effekt-Beschreibung"
Es wäre schön, wenn im Bereich Medien bearbeiten bei Fokuspunkt-Auswahl außer den Namen der Fokuspunkte auch die Beschreibung ausgegeben werden würde.
Ich nutze sie, um die recht technischen Namen der Fukuspunkte etwas sprechender für die Radaktion zu machen.
Also etwa in der Art "Beschreibung [Name]" z.B. "Quadratischer Ausschnitt 200x200px [quadratischer_ausschnitt_200x200]"

[2019-10-18 11:59] christophboecker commented on #81
Wovon sprichst Du jetzt konkret? ich kann Dir grade nicht folgen. Der Fokuspunkt hat erstmal nix zu tun mit "Quadratischer Ausschnitt 200x200px " oder anderen Texten, denn das ist ja die Beschreibung eines Media-Manager-Effektes.

[2019-11-02 12:09] DanielWeitenauer commented on #81
Ich meine diese Liste:

![image](https://user-images.githubusercontent.com/3332367/68070686-a998b580-fd71-11e9-8c66-17e0bde5b7fa.png)

Da dort die Namen ausgegeben werden, die ja auch für die URL benutzt werden müssen, ist die Liste recht schlecht zu lesen. Die Beschreibung bietet etwas mehr Formatierungsmöglichkeiten.

[2019-11-07 13:52] christophboecker commented on #81
Jetzt hab ich´s verstanden. Es hatte einen (vermeintlich) guten Grund, warum das so ist wie es ist. Nur fällt er mir nicht mehr ein. Ich nehm die Sache auf die Liste für das nächste Release. Danke.

[2019-11-07 19:25] DanielWeitenauer commented on #81
Super, danke!

[2020-01-30 16:33] christophboecker commented on #81
Hi Daniel,

das ist eine zweischneidige Angelegenheit. DU macht es diszipliniert (prägnante Medien-Typ-Beschreibung, nicht zu lang), aber andere? nix oder episch lang Platz/Layout sprengend oder mit anderer inhaltlichen Intention? Was dem einen hilft ist bein anderen eine böse Falle. Ich würde von daher ungerne die Detailbeschreibung bevorzugt ausgeben (wie in einem Beispiel).

Ich denke eher an e

[2020-01-30 18:11] DanielWeitenauer commented on #81
Dass es Probleme geben könnte hatte ich auch schon überlegt. hätte mir auch was zurechtgefummelt, hab aber die passenden Stellen im Code nicht finden können.
Mit der Möglichkeit es selbst anzupassen gäbe es sogar noch mehr Variationsmöglichkeiten: gruppieren, filtern, umsortieren...

[2020-01-31 09:20] christophboecker commented on #81
Die fragliche Stelle ist in lib/focuspoint.php in der Methode show_sidebar:
https://github.com/FriendsOfREDAXO/focuspoint/blob/6f0dce9e9c72f1e97fa22510c3f787588429ff10/lib/focuspoint.php#L94-L100
Der Array-Key ist der MM-Typ-Name, der Array-Value die Liste FP-Felder im Effekt. (Wobei das Stand heute nur eines sein sollte, denn zwei FP-Fit hintereinander in einem MM-Type ist meist Blödsinn, aber ni

[2020-02-04 21:44] staabm opened #83 "Min-php version in package.yml notieren"

[2020-02-05 06:01] christophboecker commented on #83
Bist Du auf was gestoßen, das mit PHP 7.1.3 noch nicht funktioniert?
Benötigt Focuspoint eine höhere PHP-Version?

﻿

[2020-02-05 07:11] staabm commented on #83
Nein, mir ist nur aufgefallen dass keine mindestversion definiert ist

Auf die mindestversion des cores würde ich mich nicht verlassen

[2020-02-05 07:43] christophboecker commented on #83
Du erschütterst grade mein Vertrauen in den Core.
﻿

[2020-02-05 09:00] staabm commented on #83
jedes paket sollte seine eigenen mindest defintionen haben.
auf externe und/oder transitive abhängigkeiten die sich ausserhalb deines einflusses ständig ändern, solltest du nicht bauen. ist bad practice.

fiktiv: wenn wir morgen redaxo 5.10 releasen mit php8 unterstützung fliegt jedem dein addon um die ohren, falls es probleme mit php8 hat. du bringst dich damit selbst in zugzwang.

[2020-02-09 15:33] christophboecker commented on #83
erledigt mit PR #82

[2020-02-09 15:33] #83 closed, assigned to nobody

[2020-02-10 10:06] christophboecker commented on #81
Siehe PR #85

[2020-02-10 10:06] #81 closed, assigned to nobody

[2020-03-06 15:52] christophboecker opened #88 "Mediapool-Popup: keine Fokuspunkt-Selektierung möglich"
Es liegt an Redaxo 5.10. In der Medienbearbeitung wird recht in der Seitenleiste das Bild als Miniatur eingeblendet. Focuspoint sucht sich den entsprechenden Absatz und tauscht ihn gegen eigenen Code aus. Der Absatz wird aufgrund einer Umstellung im REX 5.10-Medienpool nicht mehr gefunden.

[2020-03-06 16:14] christophboecker commented on #88
Die eigentliche Quelle ist rex_media_manager::getUrl. Ab REX 5.10 wird die URL etwas anders generiert (mit führendem ../). Er entsprechende Code in lib/focuspoint.php ist jedoch hart verdrahtet. Durch Umstellung an dieser Stelle auf rex_media_manager::getUrl ist das Problem weg, da an beiden Stellen mit dem identisch generieretn Code aus rex_media_manager::getUrl gearbeitet wird.

[2020-03-07 15:10] #88 closed, assigned to nobody

[2020-03-09 16:29] christophboecker commented on #60
OK, Jan macht auch nix, dann schließe ich das jetzt.

[2020-03-09 16:29] #60 closed, assigned to dergel

[2020-03-09 16:33] christophboecker opened #90 "Unvollständige Rückgabe im EP METAINFO_CUSTOM_FIELD"
Über den EP METAINFO_CUSTOM_FIELD werden die Fokuspunkt-Metafelder in das media-Formular eingebaut. Dazu wird die Methode focuspoint::customfield aufgerufen. Die liefert aber nicht das komplette $subject zurück.

[2020-03-13 12:16] IngoWinter opened #92 "Darstellung Medientyp focuspoint_media_detail"
Für den Medientyp focuspoint_media_detail sind die Links bearbeiten, Effekte bearbeiten und löschen unklickbar. Ich musste den Medientyp gerade anpassen und sowas ist schlicht überflüssig.

[2020-03-13 12:32] christophboecker commented on #92
Hi Ingo, das ist nun mal ein systeminterner Typ und der soll nicht geändert oder gelöscht werden. Was passt denn daran nicht?

[2020-03-13 12:51] IngoWinter commented on #92
Ich brauchte einen zusätzlichen Effekt. Ich denke bei den Redaxo System Medientypen ist es besser gelöst. Die kann man nicht aus Versehen löschen, aber bei Bedarf anpassen.

[2020-04-06 18:20] #77 closed, assigned to nobody

[2020-10-18 12:07] #90 closed, assigned to nobody

[2020-11-24 17:36] christophboecker commented on #92
Ich hab Deinen Punkt aufgenommen; der PR ist eingestellt und kommt in Kürze mit V3 in die freie Wildbahn. Das Issue schließe ich. Danke für die Anregung.

[2020-11-24 17:36] #92 closed, assigned to nobody

[2020-12-09 11:35] skerbis opened #101 "PHP8 AddOn kann nicht installiert werden"
AddOn focuspoint konnte aus folgendem Grund nicht aktualisiert werden:
Die PHP-Version (8.0.0) entspricht nicht der geforderten Versionsbedingung ^7.1!

[2020-12-09 17:06] christophboecker commented on #101
Ich kann die Versionsanforderung auf >=7.1 ändern, aber nicht mit php 8.0 testen. Nur um es erwähnt zu haben.

[2020-12-09 17:21] christophboecker commented on #101
So, Release 3.0.1 angefertigt aber noch nicht im Installer. Wäre nett wenn Du es mal mit php 8 testen könntest.

[2020-12-09 20:04] skerbis commented on #101
Check , getestet

[2020-12-09 20:04] skerbis commented on #101
Danke

[2020-12-10 06:22] christophboecker commented on #101
Ist im Installer sichtbar; Issue geschlossen mit #102; Danke für den Hinweis und den Test

[2020-12-10 06:22] #101 closed, assigned to nobody

[2021-02-23 20:13] olien opened #103 "Exception: Unable to fetch row. // Beim Anlegen eines MediaManger Typen"
**Request-Uri:** /redaxo/index.php?page=media_manager/types&func=add&list=339ec9aa&type_id=0
**Request-Method:** POST

**rex_sql_exception:** Unable to fetch row.
**File:** redaxo/src/core/lib/sql/sql.php
**Line:** 812

<details>
<summary>Stacktrace</summary>

| Function | File | Line |
| -------------------------------------------- | ------------------------------------------------------- | -----

[2021-02-23 20:15] skerbis opened #104 "Installationsproblem mit Transaktion (Commit) ausgelöst durch PHP8"
[code]

UPDATE: Der Fehler tritt unter PHP 7.3.x nicht auf.

**beim 2. Click geht’s**

<details>
<summary>System report (REDAXO 5.12.0-beta2, PHP 8.0.2, MariaDB 10.2.36)</summary>

| REDAXO        |              |
| ------------: | :----------- |
|       Version | 5.12.0-beta2 |

| PHP           |            |
| ------------: | :--------- |
|       Version | 8.0.2      |
|       OPcache | yes

[2021-02-23 21:12] christophboecker commented on #104
7.4 klappt auch tadellos. Mit 8.0 kann ich erst am Wochenende testen

[2021-02-23 21:18] christophboecker commented on #103
Ich seh jetzt grade nicht den Link zu Focuspoint. Bei mir klappt esjedenfalls problemlos, einen Typen anzulegen und einen Effekt zuzuweisen.

[2021-02-24 06:51] olien commented on #103
Danke. dann suche ich mal weiter...

[2021-02-24 06:51] #103 closed, assigned to nobody

[2021-02-24 18:28] christophboecker commented on #104
Sieht so aus, dass unter PHP8 die SQL-Schnittstelle PDO anders bedient wird als unter PHP7. Fragt man den Status an verschiedenen Stellen mit `$sql->inTransaction()` (true/false) ab, kippt er in `rex_sql->setQuery()` beim ausführenden PDO-Statement, wenn die Query `ALTER TABLE `rex_media` ADD `med_focuspoint` varchar(20) DEFAULT` ausgeführt wird.

In der PHP-Doku finde ich:

Mist!

[2021-02-24 18:41] christophboecker commented on #104
Muss mal schauen, wie ich die Installation umschreibe, irgendwie das Anlegen des Metafeldes aus der Transaktion nehmen,

[2021-03-04 16:23] #104 closed, assigned to nobody

[2021-11-07 10:07] christophboecker opened #108 "BCs aus REX5.13: Hook im Medienpool"
In REDAXO 5.13 gibt es Änderungen, die Focuspoint teilweise lahmlegen.

In der Detailseite des Medienpools wird das Vorschaubild in der Seitenleiste durch den Code für ein Bild mit interaktiver Auswahl der Fokuspunkte ersetzt. Da sich in R5.13 das HTML der Seite geändert hat, wird der Code nicht mehr gefunden und die Auswahl auch nicht aktiviert.

In `focuspoint::show_sidebar` wird nach `rex_media

[2021-11-16 07:11] olien commented on #108
Hm. Hat sich wieder etwas geändert?
Mit 5.13.0-beta2 geht es leider nicht...

[2021-11-16 07:22] christophboecker commented on #108
Bin eben auf dasselbe Problem gelaufen. Die aktuelle Version läuft erst am 5.13.0, also auch nicht 5.13.beta x. Weil, wenn ich das nun richtig verstehe, 5.13.0-beta kleiner ist als 5.13.0? Daher geht die Abfrage auf '^5.13.0' wohl auch nicht richtig. Muss man statt dessen auf `>5.12.99' abfragen? @gharlan

[2021-11-16 07:24] christophboecker commented on #108
Ich hab mal pragmatisch in der package.yml dies eingetragen:
[code]

[2021-11-16 08:30] gharlan commented on #108
Richtig wäre `^5.13.0-beta1`, wenn man auch die beta unterstützen möchte.

[2021-11-23 14:49] christophboecker commented on #108
Mit #109 erledigt

[2021-11-23 14:49] #108 closed, assigned to nobody

[2022-04-27 10:33] LEAakaLAP opened #110 "PHP 8.1.5 / Redaxo 5.13.1 / Focuspoint 4.0.0 => NOK"
FocusPoint - Preview im Mediamanager funktioniert nicht, ebenso die korrekte Ausgabe!

PHP              8.1.5 (lt. Plesk)
Redaxo         5.13.1
FocusPoint   4.0.0

![Bildschirmfoto 2022-04-27 um 12 30 55](https://user-images.githubusercontent.com/104498524/165499513-3c7886a2-1f8d-4074-a56f-160ef480c6e3.png)

Diese Meldung erhält man, wenn man versucht den defekten Link aus DevTools zu öffnen! Hoff

[2022-04-27 12:08] christophboecker commented on #110
NOK ? Weiß grade nicht, was das bedeutet, sorry. Und bist Du sicher, dass der Fehler in focuspoint liegt? Ich hätte eher auf MediaManager getippt

[2022-04-27 12:12] LEAakaLAP commented on #110
NOK = NOT OK!
ich bin Anwender und versuche hilfreiche PlugIns zu nutzen. Ob der Fehler vom FocusPoint oder von woanders kommt, kann ich dir nicht sagen. Ich kann das AddOn auf jeden Fall nicht nutzen unter PHP 8.1.5, denn unter PHP 7.4 funktioniert es ja.

[2022-05-01 13:11] christophboecker commented on #110
Ich hab mal auf meinem zweiten System getestet. Da war ein PHP 8.1.4 darauf, mit dem alles lief wie es sollte. Das System habe ich dann (brew) auf 8.1.5 aktualisiert. Danach gab es einen RRRRR-Whoops, den ich aber letztlich durch Deakivieren des Minibar-Addon beheben konnte.

Was soll ich sagen, der Medienpool läuft wie er soll. In der Medienübersicht werden die Medien-Thumbnails angezeigt und in

[2022-06-06 08:47] christophboecker commented on #110
Erledigt mit #111 und neuem Bugfix-Release 4.0.1.

[2022-06-06 08:47] #110 closed, assigned to nobody

[2022-11-16 09:05] tbaddade opened #114 "Ordner `.github` im Release"
Ordner `.github` landet mit im Release.